<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
<div>
  <h1>
    Welcome to {{ title }}!
  </h1>
  <app-component1></app-component1>
</div>
<div>
  <app-scenario2-component1></app-scenario2-component1>
</div>
<div>
  <app-scenario3-component1></app-scenario3-component1>
</div>
<div>
  <app-scenario4-component1></app-scenario4-component1>
</div>
<div>
  <app-scenario5-component1></app-scenario5-component1>
</div>
<div>
    <app-scenario6-component1></app-scenario6-component1>
</div>
</div>
<router-outlet></router-outlet>
